---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import penguins from "../assets/penguins/penguins.json";
---

<Layout>
<h1>Bienvenue sur mon site ayant pour but de représenter des données</h1>
</Layout>
