---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import PlotFigure from "./PlotFigure.astro";
import penguins from "./penguins.json";

---

<Layout>
  <div>
    <h1>Penguins</h1>
    <PlotFigure
      options={{
        marks: [
          Plot.dot(penguins, { x: "culmen_length_mm", y: "culmen_depth_mm" }),
        ],
      }}
    />
  </div>
</Layout>
