---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import pizza from "../assets/pizza/pizza.json";
---

<Layout>
  <div>
    <h1>Voici une représentation des pizza </h1>
    <PlotFigure
      options={{
        grid: true,
        color: { legend: true },
        marks: [
          Plot.dot(pizza, {
            x: "culmen_length_mm",
            y: "culmen_depth_mm",
            stroke: "species",
            fill: "species",
            title: (d) => `${d.species}\n${d.island}`,
          }),
        ],
      }}
    />
  </div>
</Layout>
